@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.ReactCollapse--collapse {
  transition: height 500ms;
}

@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    word-break: break-word;
  }
  *[class*="hover:"] {
    transition: color 0.4s, background-color 0.4s, left 0.4s, opacity 0.4s,
      background-image 0.4s, transform 0.4s;
  }
  body {
    @apply text-white bg-[#150E28] font-normal max-w-[2200px] mx-auto font-montserrat;
  }
  ul {
    @apply list-none;
  }
  .animated-line path {
    stroke-dasharray: 340;
    stroke-dashoffset: 40;
    animation: dash 0.5s linear;
  }
  .register:hover {
    background-image: none;
    border-radius: 4px;
    border: 2px solid #9a39ff;
  }
  .plus {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  .plus::before,
  .plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #d434fe;
    transform-origin: center;
    transition: transform 0.3s;
  }
  .plus::after {
    transform: rotate(90deg);
  }
  .plus.checked::after {
    transform: rotate(180deg);
  }
  .nav-active {
    background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease 0.5s;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 40;
    }
  }
}
